@model Service
@{
    ViewData["Title"] = "Delete";
}


<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-6">
			<div style="width:200px; height:auto" >

				<img src="~/assets/images/website-images/@Model.Image" style="max-width:100%; max-height:
" />
			</div>
			<h4>Title:@Model.Name</h4>
			<h4>Description:@Model.Description</h4>
			<div style="display: flex; gap: 15px;">
				<a class="btn btn-info" asp-action="Index">Go Back</a>
				<form method="post">

					<button type="submit" class="btn btn-danger">delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

